[Desktop Entry]
Categories=Utility;
Comment=nVidia GPU Fan Curve Control
Exec=~/.local/bin/nvfanservice
GenericName=nvFanService
Icon=~/.local/share/icons/nvfanservice.png
MimeType=
Name=nvFanService
NoDisplay=false
Path=~/.local/bin/
StartupNotify=true
StartupWMClass=nvfanservice
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
