[Desktop Entry]
Categories=Utility;
Comment=nVidia GPU Fan Curve Control
Name=nvFanService
Exec=nvfanservice
Icon=nvfanservice
NoDisplay=false
StartupNotify=true
StartupWMClass=nvfanservice
MimeType=
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
